// Initialize

	@include skel-breakpoints((
		xsmall: '(min-width: 100px)',
		small:  '(min-width: 480px)',
		medium: '(min-width: 736px)',
		large:  '(min-width: 980px)',
	));

	@include skel-layout((
		reset: 'full',
		boxModel: 'border',
		containers: 980px,
		grid: ( gutters: 2em ),
		breakpoints: (
			large: (
				containers: 1000px,
	            // grid: ( gutters: 20px )
			),
			medium: (
	            containers: 728px,
	            grid: ( gutters: 20px )
	        ),
	        small: (
	            containers: 460px,
	            grid: ( gutters: 20px )
	        ),
	        xsmall: (
	        	containers: 90%,
	            grid: ( gutters: 20px )
	        )
		)
	));

.page{
  @include vendor("transiton","all 1s ease");
  background: #ccc;
}
