/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* Box Model */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Containers */
.container {
  margin-left: auto;
  margin-right: auto;
}

.container.\31 25\25		{
  width: 100%;
  max-width: 1225px;
  min-width: 980px;
}

.container.\37 5\25			{
  width: 735px;
}

.container.\35 0\25			{
  width: 490px;
}

.container.\32 5\25			{
  width: 245px;
}

.container {
  width: 980px;
}

@media screen and (min-width: 100px) {
  .container.\31 25\25		{
    width: 100%;
    max-width: 112.5%;
    min-width: 90%;
  }
  .container.\37 5\25			{
    width: 67.5%;
  }
  .container.\35 0\25			{
    width: 45%;
  }
  .container.\32 5\25			{
    width: 22.5%;
  }
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 480px) {
  .container.\31 25\25		{
    width: 100%;
    max-width: 575px;
    min-width: 460px;
  }
  .container.\37 5\25			{
    width: 345px;
  }
  .container.\35 0\25			{
    width: 230px;
  }
  .container.\32 5\25			{
    width: 115px;
  }
  .container {
    width: 460px;
  }
}

@media screen and (min-width: 736px) {
  .container.\31 25\25		{
    width: 100%;
    max-width: 910px;
    min-width: 728px;
  }
  .container.\37 5\25			{
    width: 546px;
  }
  .container.\35 0\25			{
    width: 364px;
  }
  .container.\32 5\25			{
    width: 182px;
  }
  .container {
    width: 728px;
  }
}

@media screen and (min-width: 980px) {
  .container.\31 25\25		{
    width: 100%;
    max-width: 1250px;
    min-width: 1000px;
  }
  .container.\37 5\25			{
    width: 750px;
  }
  .container.\35 0\25			{
    width: 500px;
  }
  .container.\32 5\25			{
    width: 250px;
  }
  .container {
    width: 1000px;
  }
}

/* Grid */
.row {
  border-bottom: solid 1px transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row > * {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row:after, .row:before {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.row.uniform > * > :first-child {
  margin-top: 0;
}

.row.uniform > * > :last-child {
  margin-bottom: 0;
}

.row.\30 \25 > * {
  padding: 0 0 0 0em;
}

.row.\30 \25
{
  margin: 0 0 -1px 0em;
}

.row.uniform.\30 \25 > * {
  padding: 0em 0 0 0em;
}

.row.uniform.\30 \25
{
  margin: 0em 0 -1px 0em;
}

.row > * {
  padding: 0 0 0 2em;
}

.row {
  margin: 0 0 -1px -2em;
}

.row.uniform > * {
  padding: 2em 0 0 2em;
}

.row.uniform {
  margin: -2em 0 -1px -2em;
}

.row.\32 00\25 > * {
  padding: 0 0 0 4em;
}

.row.\32 00\25
{
  margin: 0 0 -1px -4em;
}

.row.uniform.\32 00\25 > * {
  padding: 4em 0 0 4em;
}

.row.uniform.\32 00\25
{
  margin: -4em 0 -1px -4em;
}

.row.\31 50\25 > * {
  padding: 0 0 0 3em;
}

.row.\31 50\25
{
  margin: 0 0 -1px -3em;
}

.row.uniform.\31 50\25 > * {
  padding: 3em 0 0 3em;
}

.row.uniform.\31 50\25
{
  margin: -3em 0 -1px -3em;
}

.row.\35 0\25 > * {
  padding: 0 0 0 1em;
}

.row.\35 0\25
{
  margin: 0 0 -1px -1em;
}

.row.uniform.\35 0\25 > * {
  padding: 1em 0 0 1em;
}

.row.uniform.\35 0\25
{
  margin: -1em 0 -1px -1em;
}

.row.\32 5\25 > * {
  padding: 0 0 0 0.5em;
}

.row.\32 5\25
{
  margin: 0 0 -1px -0.5em;
}

.row.uniform.\32 5\25 > * {
  padding: 0.5em 0 0 0.5em;
}

.row.uniform.\32 5\25
{
  margin: -0.5em 0 -1px -0.5em;
}

.\31 2u, .\31 2u\24
{
  width: 100%;
  clear: none;
  margin-left: 0;
}

.\31 1u, .\31 1u\24
{
  width: 91.6666666667%;
  clear: none;
  margin-left: 0;
}

.\31 0u, .\31 0u\24
{
  width: 83.3333333333%;
  clear: none;
  margin-left: 0;
}

.\39 u, .\39 u\24
{
  width: 75%;
  clear: none;
  margin-left: 0;
}

.\38 u, .\38 u\24
{
  width: 66.6666666667%;
  clear: none;
  margin-left: 0;
}

.\37 u, .\37 u\24
{
  width: 58.3333333333%;
  clear: none;
  margin-left: 0;
}

.\36 u, .\36 u\24
{
  width: 50%;
  clear: none;
  margin-left: 0;
}

.\35 u, .\35 u\24
{
  width: 41.6666666667%;
  clear: none;
  margin-left: 0;
}

.\34 u, .\34 u\24
{
  width: 33.3333333333%;
  clear: none;
  margin-left: 0;
}

.\33 u, .\33 u\24
{
  width: 25%;
  clear: none;
  margin-left: 0;
}

.\32 u, .\32 u\24
{
  width: 16.6666666667%;
  clear: none;
  margin-left: 0;
}

.\31 u, .\31 u\24
{
  width: 8.3333333333%;
  clear: none;
  margin-left: 0;
}

.\31 2u\24 + *,
.\31 1u\24 + *,
.\31 0u\24 + *,
.\39 u\24 + *,
.\38 u\24 + *,
.\37 u\24 + *,
.\36 u\24 + *,
.\35 u\24 + *,
.\34 u\24 + *,
.\33 u\24 + *,
.\32 u\24 + *,
.\31 u\24 + * {
  clear: left;
}

.\-11u {
  margin-left: 91.6666666667%;
}

.\-10u {
  margin-left: 83.3333333333%;
}

.\-9u {
  margin-left: 75%;
}

.\-8u {
  margin-left: 66.6666666667%;
}

.\-7u {
  margin-left: 58.3333333333%;
}

.\-6u {
  margin-left: 50%;
}

.\-5u {
  margin-left: 41.6666666667%;
}

.\-4u {
  margin-left: 33.3333333333%;
}

.\-3u {
  margin-left: 25%;
}

.\-2u {
  margin-left: 16.6666666667%;
}

.\-1u {
  margin-left: 8.3333333333%;
}

@media screen and (min-width: 100px) {
  .row > * {
    padding: 0 0 0 20px;
  }
  .row {
    margin: 0 0 -1px -20px;
  }
  .row.uniform > * {
    padding: 20px 0 0 20px;
  }
  .row.uniform {
    margin: -20px 0 -1px -20px;
  }
  .row.\32 00\25 > * {
    padding: 0 0 0 40px;
  }
  .row.\32 00\25
{
    margin: 0 0 -1px -40px;
  }
  .row.uniform.\32 00\25 > * {
    padding: 40px 0 0 40px;
  }
  .row.uniform.\32 00\25
{
    margin: -40px 0 -1px -40px;
  }
  .row.\31 50\25 > * {
    padding: 0 0 0 30px;
  }
  .row.\31 50\25
{
    margin: 0 0 -1px -30px;
  }
  .row.uniform.\31 50\25 > * {
    padding: 30px 0 0 30px;
  }
  .row.uniform.\31 50\25
{
    margin: -30px 0 -1px -30px;
  }
  .row.\35 0\25 > * {
    padding: 0 0 0 10px;
  }
  .row.\35 0\25
{
    margin: 0 0 -1px -10px;
  }
  .row.uniform.\35 0\25 > * {
    padding: 10px 0 0 10px;
  }
  .row.uniform.\35 0\25
{
    margin: -10px 0 -1px -10px;
  }
  .row.\32 5\25 > * {
    padding: 0 0 0 5px;
  }
  .row.\32 5\25
{
    margin: 0 0 -1px -5px;
  }
  .row.uniform.\32 5\25 > * {
    padding: 5px 0 0 5px;
  }
  .row.uniform.\32 5\25
{
    margin: -5px 0 -1px -5px;
  }
  .\31 2u\28xsmall\29, .\31 2u\24\28xsmall\29
{
    width: 100%;
    clear: none;
    margin-left: 0;
  }
  .\31 1u\28xsmall\29, .\31 1u\24\28xsmall\29
{
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 0u\28xsmall\29, .\31 0u\24\28xsmall\29
{
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\39 u\28xsmall\29, .\39 u\24\28xsmall\29
{
    width: 75%;
    clear: none;
    margin-left: 0;
  }
  .\38 u\28xsmall\29, .\38 u\24\28xsmall\29
{
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\37 u\28xsmall\29, .\37 u\24\28xsmall\29
{
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\36 u\28xsmall\29, .\36 u\24\28xsmall\29
{
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  .\35 u\28xsmall\29, .\35 u\24\28xsmall\29
{
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\34 u\28xsmall\29, .\34 u\24\28xsmall\29
{
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\33 u\28xsmall\29, .\33 u\24\28xsmall\29
{
    width: 25%;
    clear: none;
    margin-left: 0;
  }
  .\32 u\28xsmall\29, .\32 u\24\28xsmall\29
{
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 u\28xsmall\29, .\31 u\24\28xsmall\29
{
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\31 2u\24\28xsmall\29 + *,
  .\31 1u\24\28xsmall\29 + *,
  .\31 0u\24\28xsmall\29 + *,
  .\39 u\24\28xsmall\29 + *,
  .\38 u\24\28xsmall\29 + *,
  .\37 u\24\28xsmall\29 + *,
  .\36 u\24\28xsmall\29 + *,
  .\35 u\24\28xsmall\29 + *,
  .\34 u\24\28xsmall\29 + *,
  .\33 u\24\28xsmall\29 + *,
  .\32 u\24\28xsmall\29 + *,
  .\31 u\24\28xsmall\29 + * {
    clear: left;
  }
  .\-11u\28xsmall\29
{
    margin-left: 91.6666666667%;
  }
  .\-10u\28xsmall\29
{
    margin-left: 83.3333333333%;
  }
  .\-9u\28xsmall\29
{
    margin-left: 75%;
  }
  .\-8u\28xsmall\29
{
    margin-left: 66.6666666667%;
  }
  .\-7u\28xsmall\29
{
    margin-left: 58.3333333333%;
  }
  .\-6u\28xsmall\29
{
    margin-left: 50%;
  }
  .\-5u\28xsmall\29
{
    margin-left: 41.6666666667%;
  }
  .\-4u\28xsmall\29
{
    margin-left: 33.3333333333%;
  }
  .\-3u\28xsmall\29
{
    margin-left: 25%;
  }
  .\-2u\28xsmall\29
{
    margin-left: 16.6666666667%;
  }
  .\-1u\28xsmall\29
{
    margin-left: 8.3333333333%;
  }
}

@media screen and (min-width: 480px) {
  .row > * {
    padding: 0 0 0 20px;
  }
  .row {
    margin: 0 0 -1px -20px;
  }
  .row.uniform > * {
    padding: 20px 0 0 20px;
  }
  .row.uniform {
    margin: -20px 0 -1px -20px;
  }
  .row.\32 00\25 > * {
    padding: 0 0 0 40px;
  }
  .row.\32 00\25
{
    margin: 0 0 -1px -40px;
  }
  .row.uniform.\32 00\25 > * {
    padding: 40px 0 0 40px;
  }
  .row.uniform.\32 00\25
{
    margin: -40px 0 -1px -40px;
  }
  .row.\31 50\25 > * {
    padding: 0 0 0 30px;
  }
  .row.\31 50\25
{
    margin: 0 0 -1px -30px;
  }
  .row.uniform.\31 50\25 > * {
    padding: 30px 0 0 30px;
  }
  .row.uniform.\31 50\25
{
    margin: -30px 0 -1px -30px;
  }
  .row.\35 0\25 > * {
    padding: 0 0 0 10px;
  }
  .row.\35 0\25
{
    margin: 0 0 -1px -10px;
  }
  .row.uniform.\35 0\25 > * {
    padding: 10px 0 0 10px;
  }
  .row.uniform.\35 0\25
{
    margin: -10px 0 -1px -10px;
  }
  .row.\32 5\25 > * {
    padding: 0 0 0 5px;
  }
  .row.\32 5\25
{
    margin: 0 0 -1px -5px;
  }
  .row.uniform.\32 5\25 > * {
    padding: 5px 0 0 5px;
  }
  .row.uniform.\32 5\25
{
    margin: -5px 0 -1px -5px;
  }
  .\31 2u\28small\29, .\31 2u\24\28small\29
{
    width: 100%;
    clear: none;
    margin-left: 0;
  }
  .\31 1u\28small\29, .\31 1u\24\28small\29
{
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 0u\28small\29, .\31 0u\24\28small\29
{
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\39 u\28small\29, .\39 u\24\28small\29
{
    width: 75%;
    clear: none;
    margin-left: 0;
  }
  .\38 u\28small\29, .\38 u\24\28small\29
{
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\37 u\28small\29, .\37 u\24\28small\29
{
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\36 u\28small\29, .\36 u\24\28small\29
{
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  .\35 u\28small\29, .\35 u\24\28small\29
{
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\34 u\28small\29, .\34 u\24\28small\29
{
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\33 u\28small\29, .\33 u\24\28small\29
{
    width: 25%;
    clear: none;
    margin-left: 0;
  }
  .\32 u\28small\29, .\32 u\24\28small\29
{
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 u\28small\29, .\31 u\24\28small\29
{
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\31 2u\24\28small\29 + *,
  .\31 1u\24\28small\29 + *,
  .\31 0u\24\28small\29 + *,
  .\39 u\24\28small\29 + *,
  .\38 u\24\28small\29 + *,
  .\37 u\24\28small\29 + *,
  .\36 u\24\28small\29 + *,
  .\35 u\24\28small\29 + *,
  .\34 u\24\28small\29 + *,
  .\33 u\24\28small\29 + *,
  .\32 u\24\28small\29 + *,
  .\31 u\24\28small\29 + * {
    clear: left;
  }
  .\-11u\28small\29
{
    margin-left: 91.6666666667%;
  }
  .\-10u\28small\29
{
    margin-left: 83.3333333333%;
  }
  .\-9u\28small\29
{
    margin-left: 75%;
  }
  .\-8u\28small\29
{
    margin-left: 66.6666666667%;
  }
  .\-7u\28small\29
{
    margin-left: 58.3333333333%;
  }
  .\-6u\28small\29
{
    margin-left: 50%;
  }
  .\-5u\28small\29
{
    margin-left: 41.6666666667%;
  }
  .\-4u\28small\29
{
    margin-left: 33.3333333333%;
  }
  .\-3u\28small\29
{
    margin-left: 25%;
  }
  .\-2u\28small\29
{
    margin-left: 16.6666666667%;
  }
  .\-1u\28small\29
{
    margin-left: 8.3333333333%;
  }
}

@media screen and (min-width: 736px) {
  .row > * {
    padding: 0 0 0 20px;
  }
  .row {
    margin: 0 0 -1px -20px;
  }
  .row.uniform > * {
    padding: 20px 0 0 20px;
  }
  .row.uniform {
    margin: -20px 0 -1px -20px;
  }
  .row.\32 00\25 > * {
    padding: 0 0 0 40px;
  }
  .row.\32 00\25
{
    margin: 0 0 -1px -40px;
  }
  .row.uniform.\32 00\25 > * {
    padding: 40px 0 0 40px;
  }
  .row.uniform.\32 00\25
{
    margin: -40px 0 -1px -40px;
  }
  .row.\31 50\25 > * {
    padding: 0 0 0 30px;
  }
  .row.\31 50\25
{
    margin: 0 0 -1px -30px;
  }
  .row.uniform.\31 50\25 > * {
    padding: 30px 0 0 30px;
  }
  .row.uniform.\31 50\25
{
    margin: -30px 0 -1px -30px;
  }
  .row.\35 0\25 > * {
    padding: 0 0 0 10px;
  }
  .row.\35 0\25
{
    margin: 0 0 -1px -10px;
  }
  .row.uniform.\35 0\25 > * {
    padding: 10px 0 0 10px;
  }
  .row.uniform.\35 0\25
{
    margin: -10px 0 -1px -10px;
  }
  .row.\32 5\25 > * {
    padding: 0 0 0 5px;
  }
  .row.\32 5\25
{
    margin: 0 0 -1px -5px;
  }
  .row.uniform.\32 5\25 > * {
    padding: 5px 0 0 5px;
  }
  .row.uniform.\32 5\25
{
    margin: -5px 0 -1px -5px;
  }
  .\31 2u\28medium\29, .\31 2u\24\28medium\29
{
    width: 100%;
    clear: none;
    margin-left: 0;
  }
  .\31 1u\28medium\29, .\31 1u\24\28medium\29
{
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 0u\28medium\29, .\31 0u\24\28medium\29
{
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\39 u\28medium\29, .\39 u\24\28medium\29
{
    width: 75%;
    clear: none;
    margin-left: 0;
  }
  .\38 u\28medium\29, .\38 u\24\28medium\29
{
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\37 u\28medium\29, .\37 u\24\28medium\29
{
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\36 u\28medium\29, .\36 u\24\28medium\29
{
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  .\35 u\28medium\29, .\35 u\24\28medium\29
{
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\34 u\28medium\29, .\34 u\24\28medium\29
{
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\33 u\28medium\29, .\33 u\24\28medium\29
{
    width: 25%;
    clear: none;
    margin-left: 0;
  }
  .\32 u\28medium\29, .\32 u\24\28medium\29
{
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 u\28medium\29, .\31 u\24\28medium\29
{
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\31 2u\24\28medium\29 + *,
  .\31 1u\24\28medium\29 + *,
  .\31 0u\24\28medium\29 + *,
  .\39 u\24\28medium\29 + *,
  .\38 u\24\28medium\29 + *,
  .\37 u\24\28medium\29 + *,
  .\36 u\24\28medium\29 + *,
  .\35 u\24\28medium\29 + *,
  .\34 u\24\28medium\29 + *,
  .\33 u\24\28medium\29 + *,
  .\32 u\24\28medium\29 + *,
  .\31 u\24\28medium\29 + * {
    clear: left;
  }
  .\-11u\28medium\29
{
    margin-left: 91.6666666667%;
  }
  .\-10u\28medium\29
{
    margin-left: 83.3333333333%;
  }
  .\-9u\28medium\29
{
    margin-left: 75%;
  }
  .\-8u\28medium\29
{
    margin-left: 66.6666666667%;
  }
  .\-7u\28medium\29
{
    margin-left: 58.3333333333%;
  }
  .\-6u\28medium\29
{
    margin-left: 50%;
  }
  .\-5u\28medium\29
{
    margin-left: 41.6666666667%;
  }
  .\-4u\28medium\29
{
    margin-left: 33.3333333333%;
  }
  .\-3u\28medium\29
{
    margin-left: 25%;
  }
  .\-2u\28medium\29
{
    margin-left: 16.6666666667%;
  }
  .\-1u\28medium\29
{
    margin-left: 8.3333333333%;
  }
}

@media screen and (min-width: 980px) {
  .row > * {
    padding: 0 0 0 20px;
  }
  .row {
    margin: 0 0 -1px -20px;
  }
  .row.uniform > * {
    padding: 20px 0 0 20px;
  }
  .row.uniform {
    margin: -20px 0 -1px -20px;
  }
  .row.\32 00\25 > * {
    padding: 0 0 0 40px;
  }
  .row.\32 00\25
{
    margin: 0 0 -1px -40px;
  }
  .row.uniform.\32 00\25 > * {
    padding: 40px 0 0 40px;
  }
  .row.uniform.\32 00\25
{
    margin: -40px 0 -1px -40px;
  }
  .row.\31 50\25 > * {
    padding: 0 0 0 30px;
  }
  .row.\31 50\25
{
    margin: 0 0 -1px -30px;
  }
  .row.uniform.\31 50\25 > * {
    padding: 30px 0 0 30px;
  }
  .row.uniform.\31 50\25
{
    margin: -30px 0 -1px -30px;
  }
  .row.\35 0\25 > * {
    padding: 0 0 0 10px;
  }
  .row.\35 0\25
{
    margin: 0 0 -1px -10px;
  }
  .row.uniform.\35 0\25 > * {
    padding: 10px 0 0 10px;
  }
  .row.uniform.\35 0\25
{
    margin: -10px 0 -1px -10px;
  }
  .row.\32 5\25 > * {
    padding: 0 0 0 5px;
  }
  .row.\32 5\25
{
    margin: 0 0 -1px -5px;
  }
  .row.uniform.\32 5\25 > * {
    padding: 5px 0 0 5px;
  }
  .row.uniform.\32 5\25
{
    margin: -5px 0 -1px -5px;
  }
  .\31 2u\28large\29, .\31 2u\24\28large\29
{
    width: 100%;
    clear: none;
    margin-left: 0;
  }
  .\31 1u\28large\29, .\31 1u\24\28large\29
{
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 0u\28large\29, .\31 0u\24\28large\29
{
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\39 u\28large\29, .\39 u\24\28large\29
{
    width: 75%;
    clear: none;
    margin-left: 0;
  }
  .\38 u\28large\29, .\38 u\24\28large\29
{
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\37 u\28large\29, .\37 u\24\28large\29
{
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\36 u\28large\29, .\36 u\24\28large\29
{
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  .\35 u\28large\29, .\35 u\24\28large\29
{
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\34 u\28large\29, .\34 u\24\28large\29
{
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\33 u\28large\29, .\33 u\24\28large\29
{
    width: 25%;
    clear: none;
    margin-left: 0;
  }
  .\32 u\28large\29, .\32 u\24\28large\29
{
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }
  .\31 u\28large\29, .\31 u\24\28large\29
{
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }
  .\31 2u\24\28large\29 + *,
  .\31 1u\24\28large\29 + *,
  .\31 0u\24\28large\29 + *,
  .\39 u\24\28large\29 + *,
  .\38 u\24\28large\29 + *,
  .\37 u\24\28large\29 + *,
  .\36 u\24\28large\29 + *,
  .\35 u\24\28large\29 + *,
  .\34 u\24\28large\29 + *,
  .\33 u\24\28large\29 + *,
  .\32 u\24\28large\29 + *,
  .\31 u\24\28large\29 + * {
    clear: left;
  }
  .\-11u\28large\29
{
    margin-left: 91.6666666667%;
  }
  .\-10u\28large\29
{
    margin-left: 83.3333333333%;
  }
  .\-9u\28large\29
{
    margin-left: 75%;
  }
  .\-8u\28large\29
{
    margin-left: 66.6666666667%;
  }
  .\-7u\28large\29
{
    margin-left: 58.3333333333%;
  }
  .\-6u\28large\29
{
    margin-left: 50%;
  }
  .\-5u\28large\29
{
    margin-left: 41.6666666667%;
  }
  .\-4u\28large\29
{
    margin-left: 33.3333333333%;
  }
  .\-3u\28large\29
{
    margin-left: 25%;
  }
  .\-2u\28large\29
{
    margin-left: 16.6666666667%;
  }
  .\-1u\28large\29
{
    margin-left: 8.3333333333%;
  }
}

.page {
  transiton: all 1s ease;
  background: #ccc;
}

input {
  padding: 0;
}
